import init.wireless.realtek.rc

on boot
    ### csi module
#    insmod /system/vendor/modules/videobuf2-core.ko
#    insmod /system/vendor/modules/videobuf2-memops.ko
#    insmod /system/vendor/modules/videobuf2-dma-contig.ko
#    insmod /system/vendor/modules/vfe_io.ko
#    insmod /system/vendor/modules/vfe_v4l2.ko

    ### network
    insmod /system/vendor/modules/usbnet.ko
    insmod /system/vendor/modules/asix.ko
    insmod /system/vendor/modules/qf9700.ko
    insmod /system/vendor/modules/mcs7830.ko
    insmod /system/vendor/modules/rtl8150.ko
    insmod /system/vendor/modules/cdc_ether.ko
    insmod /system/vendor/modules/smsc75xx.ko
    insmod /system/vendor/modules/rtl_bluesleep.ko
    insmod /system/vendor/modules/smsc95xx.ko
	
	###  xr819 wifi
	insmod /system/vendor/modules/xradio_mac.ko
	insmod /system/vendor/modules/xradio_core.ko

    # power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    write /sys/class/rfkill/rfkill0/state 1

    # to observe dnsmasq.leases file for dhcp information of soft ap.
    chown dhcp system /data/misc/dhcp

service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket sap_uim_socket1 stream 660 bluetooth bluetooth
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio log
	
	
# xr819 wpa_supplicant
service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf \
    -O/data/misc/wifi/sockets \
	-g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
	group wifi
    disabled
    oneshot
	
#xr819 p2p	
service p2p_supplicant /system/bin/wpa_supplicant -Dnl80211 -ip2p0 -c/data/misc/wifi/p2p_supplicant.conf -N -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf \
    -O/data/misc/wifi/sockets \
    -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    group wifi
    disabled
    oneshot	

